<div id="catListings" class="mainWrap clearfix">
<div class="col-xs-8">
<div class="table listings">
    <% @tasks.each do |task| %>
    <div id='task-wrap'>
      <div class="item clearfix <%= solved_task(task) %>">
        <div class="details">
          <div class="title">
            <%= link_to task.title, task, class: "themeURL" %>
            <div class="author">
              <%= link_to_author(task)  %>
            </div>
          </div>   
          <table>
            <tbody><tr>
              <td class="slabel">Category:</td>
              <td><%= task.category %></td>
            </tr>
            <tr>
              <td class="slabel">Difficulty:</td>
              <td><%= task.difficulty %></td>
            </tr>
            <tr>
              <td class="slabel">Tags:</td>
              <% task.tag_list.each do |tag| %>
                <td><%= link_to tag, tasks_path, class: 'label label-default' %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="ps">
          <div class="price">4.6</div>
          <div class="sales">rating</div>
          <div class="price"><%= task.users.count %></div>
          <div class="sales">solved</div>  
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>  
<div class="col-xs-4">
  Browse by tag: </br>
  <% ActsAsTaggableOn::Tag.most_used.each do |tag| %>
  <%= link_to tag, tasks_path(:tag => tag.to_s), class: 'label label-default' %>
  <% end %>
</div>
</div> 

