<div class='col-xs-8'>
  <div id="task-header">
    <h2> <%= @task.title%>
      <span class="<%= difficulty_label(@task) %>"> <%= @task.difficulty %></span>
      <span class='label label-default'> <%= @task.category %> </span> </p>
    </h2>
    <p>
    <p class="entry-meta">
      Created <%= time_ago_in_words(@task.created_at) %> ago | By <%= link_to_author(@task) %>
    </p>
  </div>
  <div class='task-body'>
    <%= content_md(@task).html_safe %>
  </div>
  <div class='tags'>
    <% @task.tag_list.each do |tag| %>
    <%= link_to tag, tasks_path(:tag => tag.to_s), class: 'label label-info' %>
    <% end %>
  </div>
  <% if !solved_task?(@task) %>
  <div class='answer-form'>
    <h3>Your answer</h3>
    <%= form_tag({controller: 'tasks', action: 'solve'}, remote: true, class: "form-inline") do %>
      <%= text_field_tag(:answer, nil,  class: "form-control") %>
      <%= submit_tag("Submit", class: "btn btn-default") %>
    <% end %>
  </div>
  <% end %>
  Rating
  <div id="user_star">
    <%= rating_for @task, "users_rating", :disable_after_rate => true %>
  </div>
</div>