<!DOCTYPE html>
<html>
<head>
  <title>Taskbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/js/bootstrap-select.min.js' %>
  <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/css/bootstrap-select.min.css' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<%= render 'layouts/navbar' %>
<%= render 'layouts/masthead' %>
<body>
<div class="container">
  <div class='row'>
  <div class='messages'><%= render 'layouts/messages' %></div>
  <%= yield %>
</div>
</div>
</body>
</html>
